<!-- This is GUI for Heart disease Detection Application Using Machine Learning Classifer -->

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Heart Detected BY KALAM SARDAR</title>

  <style>
    /* CSS code for button */
    body {
      background-image: url('static/images/cardio1.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }

    /* CSS code for button */
    .button_css {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    }
    
    .button_css:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
    }
    .pain{
	   color:green;
	    text-align:center;
	  }
  </style>

</head>

<body>

 <div>
    <img src="static/images/angina.jpg" class="w3-border w3-padding" alt="Kalam Cardiological Lab" style="width:100%">
  </div>
 
 <div class="login">
	
    <!-- Get input for predict the  heart disease -->
    <center>
         <br>
            <br>
               <br>
                  <br>
    <form action="{{ url_for('predict')}}"method="post">
       
          <br>
            <br>
              <br>
                <br>
                  <br>
                    <br>
                      <br>
                        <br>
                          <br>
                           <br>
                            <br>
                             <br>
                              <br>
                               <br>
                                <br>
                                 <br>
                                  <br>
                                   <br>
                                    <br>
                                     <br>
                                      <br>
                                        <br>
                                        
                                    

        <h1>Enter the value of heart features >>></h1>
        
    	<input type="text" name="age" placeholder="Enter the Age" required="required" />
        <input type="text" name="trestbps" placeholder=" Blood Pressure(in mm-Hg)" required="required" />
		<input type="text" name="chol" placeholder="serum Cholestrol(in mg/dl)" required="required" />
        <input type="text" name="thalach" placeholder="Heart rate(per one Minute)" required="required" />
            <input type="text" name="oldpeak" placeholder="Old peak" required="required" />
		
        

		<br>
    	<input type="text" name="sex_0" placeholder="Sex_F" required="required" />
        <input type="text" name="sex_1" placeholder="sex_M" required="required" />
		<input type="text" name="cp_0" placeholder="CP1" required="required" />
        <input type="text" name=" cp_1" placeholder="CP2" required="required" />
            <input type="text" name="cp_2" placeholder="CP3" required="required" />
    	
        
		
		<br>
    	<input type="text" name="cp_3" placeholder="CP4" required="required" />
        <input type="text" name="fbs_0" placeholder="Diabaties in blood" required="required" />
		<input type="text" name="restecg_0" placeholder="Electrocardiographic Result1" required="required" />
        <input type="text" name="restecg_1" placeholder="Electrocardiographic Result2" required="required" />
            <input type="text" name="restecg_2" placeholder="Electrocardiographic Result3" required="required" />
    	
        
		
    	<br>
    	<input type="text" name="exang_0" placeholder="Exercise induced Angina(NO)" required="required" />
        <input type="text" name="exang_1" placeholder="Exercise induced Angina(YES)" required="required" />
		<input type="text" name=" slope_0" placeholder="Slope1" required="required" />
        <input type="text" name=" slope_1" placeholder="Slope2" required="required" />
    <input type="text" name="  slope_2" placeholder="Slope3" required="required" />
    	
        
			<br>


      
      <input type="text" name=" ca_0" placeholder="Vessel 0" required="required" />
        <input type="text" name="ca_1" placeholder="Vessel 1" required="required" />
    <input type="text" name="ca_2" placeholder="Vessel 2" required="required" />
        <input type="text" name=" thal_1" placeholder="Reaction(Normal Zone)" required="required" />
    <input type="text" name="thal_2" placeholder="Reaction(Medium Zone)" required="required" />
      
        
      <br>
      <input type="text" name="thal_3" placeholder="Reaction(Riskable Zone)" required="required" />
      <br>


      
        
        <!-- Show button -->
        <div class="button_cont" align="center"><a class="button_css" href="https://github.com/projectprogrammer057" target="_blank" rel="nofollow noopener">
            <button type="submit" class="btn btn-primary btn-block btn-large"><strong>Predict Heart disease</strong></button></a>
        </div>
        
    </form>
    </center>
   
   <!-- Show predicted output using ML model --> 
   <div>
       <center>
   <h1>{{ prediction_text }}</h1>
       </center>
   </div>

 </div>
	</br>
	</br>
	<p class="pain">
        <mark>Age:---age in years</br>
	Sex:--1=male,0=Female(Sex_M=Male,Sex_F=Female)</br>
        cp:--Chest Pain type[CP1(Low type,0=No CP1,1=Yes CP1),CP2(Medium type,0=No CP2,1=Yes CP2),CP3(High type,0=No CP3,1=Yes CP3),CP4(Very High type,0=No CP4,1=Yes CP4)]</br>
        Diabaties in blood:--0=No Diabaties,1=Yes Diabaties</br>
        Blood Pressure(in mm-Hg):--resting blood pressure(in mm-hg on admission to the hospital)</br>
        serum Cholestrol(in mg/dl):--Serum Cholestrol in mg/dl</br>
        Heart rate(per one Minute):--Maximam Heart Rate Achived in One minutes</br>
        Old peak:--ST depression induced by exercise relative to rest</br>
        Electrocardiographic Result:--[Electrocardiographic Result1(Low peak,0=No,1=Yes),Electrocardiographic Result2(Medium peak,0=No,1=Yes),Electrocardiographic Result3(High peak,0=No,1=Yes)</br>
        Exercise induced Angina:--0=No,1=Yes</br>
        slope:--The ST segment shift relative to exercise-induced increments in heart rate[Slope1(Low peak,0=No,1=Yes),Slope2(Medium peak,0=No,1=Yes),Slope3(High peak,0=No,1=Yes]</br>
        Vessel:--The Number Of the vessels are blocked[Vessel 0(No Vessel Blocked,0=No,1=Yes),Vessel 1(1 Vessel Blocked,0=No,1=Yes),Vessel 2(2 Vessels Blocked,0=No,1=Yes)]</br>
        Reaction:--Patient Reaction[Reaction(Normal Zone,0=No,1=Yes),Reaction(Medium Zone,0=No,1=Yes),Reaction(Risky Zone,0=No,1=Yes)]
</mark>
</p>
        

        


	       

</body>
</html>
